openapi: 3.1.0
info:
  version: 2.0.0
  title: Monerium API
  description: |
    API for developers to integrate Monerium payments, wallets, and user onboarding functionalities into their applications.

    <p style="background: rgba(255, 165, 0, 0.1); padding: 30px;">
        Endpoints or responses that have not been implemented are marked with <b>WIP</b> (Work In Progress).
    </p>

  termsOfService: "https://monerium.com/policies/business-terms-of-service/"
  contact:
    name: Monerium
    url: "https://monerium.com"
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: "https://api.monerium.app"
    description: "Production API - real money. Stable environment, publicly available. May be lagging behind other environments."
  - url: "https://api.monerium.dev"
    description: "Sandbox API - fake money. Stable environment, publicly available. Parity with production server while simulating periphery services."
paths:
  /:
    get:
      operationId: welcome
      summary: Welcome
      description: Returns a welcome message with a link to documentation and socials.
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  hello:
                    type: string
                    example: Welcome to the Monerium API
                  docs:
                    type: string
                    example: "https://monerium.dev"
                  twitter:
                    type: string
                    example: "https://twitter.com/monerium"
        "400":
          description: Bad Request
      security: []
      tags:
        - start
  /auth:
    post:
      operationId: auth
      summary: Authorization
      description: |
        Users must grant your application authorization to access their data.

        This endpoint issues a Temporary Redirect (HTTP 307) to the [Authorization Code Flow](/getting-started#auth-flow) where users can sign up, onboard, connect their wallets and authorize your app to access to their data.

        Use the `Authorization Code Flow client_id` and the other parameters below to redirect users to the Monerium onboarding screen.

        Upon authorization, users will be redirected back to your application `redirect_uri` with an authorization `code` in the query parameters.

        Alternatively a "Sign in with Ethereum" (SIWE) flow can be used for existing Monerium customers. In this case the payload must include a valid
        [EIP-4361](https://eips.ethereum.org/EIPS/eip-4361) message and signature. On successful authorization the authorization code is returned at once.

        This authorization code is then used to request an access token via the [token endpoint](/api#operation/auth-token).

        **Additional material**:
        - [Getting started: Authorization Code Flow](/getting-started#auth-flow)
        - [Using the Monerium API: Authentication & Authorization](/api#authorization)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - allOf:
                    - title: Authorization code flow
                      properties:
                        client_id:
                          $ref: "#/components/schemas/AuthClientID"
                        code_challenge:
                          description: |
                            Generated challenge from the `code_verifier`.
                            You must use the same `code_verifier` when [requesting an access token](/api#operation/auth-token).

                            Read more about [code challenges for PKCE](/api#authorization)
                          type: string
                          example: 9Y__uhKapn7GO_ElcaQpd8C3hdOyqTzAU4VXyR2iEV0
                        code_challenge_method:
                          description: |
                            Method used to generate the challenge (e.g., S256).

                            The PKCE spec defines two methods, S256 and plain. Monerium only supports S256.
                          type: string
                          enum:
                            - S256
                        redirect_uri:
                          description: |
                            The URL to which will redirect the browser after authorization has been granted by the user.

                            **Required if**  there are more then one redirect URL's registered.</br>
                            If present, must match one of the registered redirect URLs exactly.

                            The Authorization Code will be available in the `code` URL parameter, like so: `https://your-app.com/monerium?code=AUTHORIZATION_CODE`

                            Only URLs with the HTTPS-scheme are supported with the exception of http://localhost.
                          type: string
                        state:
                          description: |
                            **Recommended.** The state parameter will be included when redirecting back to your application.
                            It can be used to store request-specific data and/or prevent [CSRF attacks](https://auth0.com/docs/secure/attack-protection/state-parameters).
                          type: string
                        address:
                          description: You can force what address is to be linked in the Authorization Flow.
                          $ref: "#/components/schemas/Address"
                        signature:
                          description: |
                            In redirect to Monerium flow the address in the connect wallet step can be automatically linked by including same the signature used for [Link Address](#operation/link-address). The address will be automatically linked and the user continues to the next step. You must then also include the `address` property. Must include the `0x` prefix.
                          type: string
                        email:
                          description: "You can prefill the email field for login and sign up steps to ensure the user uses the correct email."
                          type: boolean
                          example: true
                        skip_kyc:
                          description: "You can skip the KYC onboarding steps in the Authorization Flow during testing."
                          type: boolean
                          example: true
                        chain:
                          description: You can force what chain the address is linked to in the Authorization Flow.
                          $ref: "#/components/schemas/Chain"
                      required:
                        - client_id
                        - code_challenge
                - allOf:
                    - title: SIWE
                      properties:
                        client_id:
                          $ref: "#/components/schemas/AuthClientID"
                        code_challenge:
                          description: |
                            Generated challenge from the `code_verifier`.
                            You must use the same `code_verifier` when [requesting an access token](/api#operation/auth-token).

                            Read more about [code challenges for PKCE](/api#authorization)
                          type: string
                          example: 9Y__uhKapn7GO_ElcaQpd8C3hdOyqTzAU4VXyR2iEV0
                        code_challenge_method:
                          description: |
                            Method used to generate the challenge (e.g., S256).

                            The PKCE spec defines two methods, S256 and plain. Monerium only supports S256.
                          type: string
                          enum:
                            - S256
                        authentication_method:
                          description: |
                            Authentication method used. The default is to redirect the user to Monerium login screen, where the user can either sign in, or go through the register flow.

                            `siwe` is only applicable for existing Monerium customers who have already linked at least one of their addresses with Monerium.
                          type: string
                          enum:
                            - siwe
                        redirect_uri:
                          description: |
                            The URL to which the redirect of the request successful request is made.

                            **Required if**  there are more than one redirect URL's registered.</br>
                            If present, must match one of the registered redirect URLs exactly.

                            The Authorization Code will be available in the `code` URL parameter, like so: `https://your-app.com/monerium?code=AUTHORIZATION_CODE`

                            Only URLs with the HTTPS-scheme are supported with the exception of http://localhost.
                          type: string
                        message:
                          description: |-
                            An [EIP-4361](https://eips.ethereum.org/EIPS/eip-4361) compatible message.

                            Example message, placeholders must be replaced with actual values:

                            ```
                            example.com wants you to sign in with your Ethereum account:
                            0x5DA1EFC8dB7E32614d7ffb0B8b6bd86e85Ecc743

                            Allow AppName to access my data on Monerium

                            URI: https://example.com/callback
                            Version: 1
                            Chain ID: 1
                            Nonce: 8YOaY6qkvyf7F5lx
                            Issued At: 2024-08-22T10:00:00Z
                            Expiration Time: 2024-08-22T10:05:00Z
                            Resources:
                            - https://monerium.com/siwe
                            - https://example.com/privacy-policy
                            - https://example.com/terms-of-service
                            ```

                            **Placeholders:**
                            - example.com - needs to be replaced with the actual domain of the application
                            - AppName - needs to be replaced with the actual name of the application
                            - 0x5DA1EFC8dB7E32614d7ffb0B8b6bd86e85Ecc743 - needs to be replaced with the actual Ethereum address
                            - https://example.com/callback - needs to be replaced with the actual callback URL configured in the application
                            - https://example.com/privacy-policy - needs to be replaced with the actual privacy policy URL configured for the application
                            - https://example.com/terms-of-service - needs to be replaced with the actual terms of service URL configured for the application

                            **Note:**
                            - expiration-time is optional in the EIP-4361 message spec, but it's required by Monerium
                            - issued-at cannot be in the future when compared to the server time
                            - not-before is not validated against the server time, but when included must be in a valid format
                            - nonce must be unique
                            - chain-id should reference a chain which the end user has linked their address with Monerium
                            - resources is optional in the EIP-4361 message spec, but it's required by Monerium. It must contain the URL to the Monerium SIWE page, and the URLs to the privacy policy and terms of service of the application.
                            - there should be no newline in the end of the message
                          type: string
                        signature:
                          description: |
                            Signature for the SIWE message. Must include the `0x` prefix.
                          type: string
                        state:
                          description: |
                            **Recommended.** The state parameter will be included when redirecting back to your application.
                            It can be used to store request-specific data and/or prevent [CSRF attacks](https://auth0.com/docs/secure/attack-protection/state-parameters).
                          type: string
                      required:
                        - client_id
                        - code_challenge
                        - authentication_method
                        - message
                        - signature
      responses:
        "302":
          description: FOUND
          headers:
            Location:
              description: |
                Redirect URI with either:
                  - authorization code as: `http://localhost:3000/monerium?code=LFG4269`
                  - error as: `http://localhost:3000/monerium?error=invalid_request&error_description=No+such+client+ID`
              schema:
                type: string
        "307":
          description: TEMPORARY REDIRECT
          headers:
            Location:
              description: Uri to authorization flow. Customer has to go through the Monerium onboarding screen and will eventually give the application permission to read their data.
              schema:
                type: string
              example: "https://sandbox.monerium.dev/partners/a15806ac-e6d6-11ed-891c-2ea11c960b3f/auth?client_id=a08bfa22-e6d6-11ed-891c-2ea11c960b3f&code_challenge=9Y__uhKapn7GO_ElcaQpd8C3hdOyqTzAU4VXyR2iEV0&redirect_uri=http%3A%2F%2Flocalhost%3A3000&response_type=code"
        "400":
          description: Bad Request
      security: []
      tags:
        - auth
      x-codeSamples:
        - lang: bash
          label: Authorization code flow
          source: |-
            curl -i 'https://api.monerium.dev/auth' \
            --header 'Content-Type: application/x-www-form-urlencoded' \
            --data-urlencode 'code_challenge=9Y__uhKapn7GO_ElcaQpd8C3hdOyqTzAU4VXyR2iEV0' \
            --data-urlencode 'client_id=a08bfa22-e6d6-11ed-891c-2ea11c960b3f' \
            --data-urlencode 'redirect_uri=http://localhost:3000' \
            --data-urlencode 'code_challenge_method=S256'
        - lang: bash
          label: SIWE
          source: |-
            curl -X POST 'https://api.monerium.dev/auth' \
            --header 'Content-Type: application/x-www-form-urlencoded' \
            --data-urlencode 'client_id=a08bfa22-e6d6-11ed-891c-2ea11c960b3f' \
            --data-urlencode "code_challenge=9Y__uhKapn7GO_ElcaQpd8C3hdOyqTzAU4VXyR2iEV0" \
            --data-urlencode "code_challenge_method=S256" \
            --data-urlencode "redirect_uri=http://localhost:3000" \
            --data-urlencode "authentication_method=siwe" \
            --data-urlencode "signature=0x9ae6f01c9b53847812b2e10b8dbbb159d3b0c73f0e3235041430d7bf0e76172c7e7a9cd5a758f49609d3237f7df923b753bfc73e612208e77680a7a9960e744700" \
            --data-urlencode 'message=example.com wants you to sign in with your Ethereum account:
            0xf9ca5763A2d7a908d9a565567C80C069eCDd1B52

            Allow AppName to access my data on Monerium

            URI: https://example.com/callback
            Version: 1
            Chain ID: 1
            Nonce: 8YOaY6qkvyf7F5lx
            Issued At: 2024-08-24T14:23:00Z
            Expiration Time: 2024-08-24T15:23:00Z
            Resources:
            - https://monerium.com/siwe
            - https://example.com/privacy-policy
            - https://example.com/terms-of-service'
    get:
      operationId: auth-get
      summary: Authorization
      description: |
        Same as [POST /auth](#operation/auth) using a GET request with the same properties as query parameters.
      security: []
      tags:
        - auth
      x-codeSamples:
        - lang: bash
          label: CLI
          source: "curl https://api.monerium.dev/auth?code_challenge=9Y__uhKapn7GO_ElcaQpd8C3hdOyqTzAU4VXyR2iEV0&client_id=a08bfa22-e6d6-11ed-891c-2ea11c960b3f&redirect_uri=http://localhost:3000&code_challenge_method=S256"
  /auth/context:
    get:
      security:
        - BearerAuth: []
      x-codeSamples:
        - lang: bash
          label: curl
          source: |-
            curl https://api.monerium.dev/auth/context \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN"
      description: |
        The authentication context provides details about the currently authenticated user,
        including the method of authentication, their roles, and information on the profiles they are authorized to access.

        Note that the context is used for every authenticated request. By default results are returned by the caller profile.
        Meaning that applications using client credentials must specify the profile ID in the query parameters to get the
        correct results.
      summary: Context
      operationId: auth-context
      parameters: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UserContext"
        "401":
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorizedError"
      tags:
        - auth
  /auth/signup:
    post:
      operationId: auth-signup
      summary: Sign up
      description: |-
        <span style="display: inline-block;padding: 2px 8px;margin: 0px;background-color: rgb(44, 108, 167);color: rgb(255, 255, 255);vertical-align: middle;line-height: 1.6;border-radius: 4px;font-weight: 600;font-size: 12px;">
          Requires extra privileges
        </span>

        Create a user and profile by submitting the user's email address
        that your platform has validated. The user can also use the email address
        to generate a password and authenticate to the monerium app.
        The Monerium API will return a profile UUID that you will use to submit
        all of the customer's details.

        Your app will be automatically authorized to access the user data.
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  description: An email address used as username to authenticate.
                  type: string
                  format: email
                  example: user@example.com
              required:
                - email
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    description: The user's email.
                    type: string
                    format: email
                    example: user@example.com
                  profile:
                    description: The UUID for the new profile.
                    example: 4f079ef8-6d26-11eb-9bc8-acde48001122
                    $ref: "#/components/schemas/UUID"
        "304":
          description: |-
            Not modified (user already exists).
            <br /> Use [the authorization flow](#operation/auth) if the user is already a Monerium user. The user is then redirected back to your application, and you can continue with the other operations.
        "403":
          description:
            $ref: "#/components/schemas/ForbiddenPartnerError/description"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenPartnerError"
      security:
        - BearerAuth: []
      tags:
        - auth
      x-codeSamples:
        - lang: bash
          label: CLI
          source: |-
            curl -X POST 'https://api.monerium.dev/auth/signup' \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN" \
            -H "Accept: application/vnd.monerium.api-v2+json" \
            --data-raw '{
              "email": "user@example.com"
            }'
  /auth/token:
    post:
      operationId: auth-token
      summary: Access token
      description: |
        API users can authenticate themselves by providing an [OAuth 2.0](https://datatracker.ietf.org/doc/html/rfc6750) access token.

        You get two types of `client_id` when you register your app:

        ![client IDs](/assets/client_ids.png)

        NOTE: You must use the correct `client_id` when picking the authorization flow.
        You get the following error when you are using the wrong client_id for the grant_type:

        ```json
        {
          "code": 400,
          "status": "Bad Request",
          "message": "The client is not authorized to request a token using this method."
        }
        ```

        **Authorization Code Flow and refresh token**

        For mobile and web apps that cannot securely store a client secret without exposing it to the users.

        Your application acquires an authorization `code` through the [PKCE authorization flow](/api#auth-code).
        you can use this authorization code to obtain an `access_token` and a `refresh_token` using `grant_type=authorization_code`.

        The access token can then be used to authenticate all requests for the following hour, after which the token must be refreshed using the `refresh_token` with `grant_type=refresh_token`.

        **Client Credentials Authorization**

        Client credentials can be used when application is acting on its own behalf. When performing requests on behalf of the user, the authorization code flow should be used instead.
        While the client credentials give the application the possibility to access user data today, this will change in the future, and not all endpoints will be available for client credentials.

        Request an `access_token` by using the `client_id` and `client_secret` with `grant_type=client_credentials`.

        The access token can then be used to authenticate all requests for the following hour, after which you can get a new one.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - allOf:
                    - description: Authorization code flow
                      title: Authorization code flow
                      properties:
                        client_id:
                          $ref: "#/components/schemas/AuthClientID"
                        grant_type:
                          type: string
                          enum:
                            - authorization_code
                        code:
                          description: |
                            The authorization code that was acquired from authorization flow.
                          type: string
                          example: BvTYQprmQzKt8YSn3xsTWQ
                        code_verifier:
                          description: |
                            The randomized string that was used to create the `code_challenge` when a customer/user enters the partner authorization flow.
                            Read more about [code challenges for PKCE](/api#authorization)
                          type: string
                          example: KO2yF8CUSxU8KJepixDmXdiCOFTMMZFLDmVjNd4J2VhbFUSSgU1lXl0aYyWYK8hIZIEH9bEBDeJ78CIuNoeOIcZOybzzqFlIGedtclJ7ZTKF6GmRBZ4fdMvg6OXnf2dl
                        redirect_uri:
                          description: |
                            The same `redirect_uri` that was used to acquire the `authorization_code`.
                          type: string
                          example: "http://localhost:3000/monerium"
                      required:
                        - code
                        - grant_type
                        - client_id
                        - code_verifier
                        - redirect_uri
                - allOf:
                    - description: Fetch updated access token with refresh token.
                      title: Refresh token
                      properties:
                        client_id:
                          $ref: "#/components/schemas/AuthClientID"
                        grant_type:
                          type: string
                          enum:
                            - refresh_token
                        refresh_token:
                          description: |
                            The refresh token acquired from the authorization flow
                          type: string
                      required:
                        - client_id
                        - grant_type
                        - refresh_token
                - allOf:
                    - description: Client credentials.
                      title: Client credentials
                      properties:
                        client_id:
                          $ref: "#/components/schemas/CredentialsClientID"
                        grant_type:
                          type: string
                          enum:
                            - client_credentials
                        client_secret:
                          description: |
                            Secret that was created when the app was registered.
                            Read more: [Client Credentials.](api#auth-client-credentials)
                          type: string
                      required:
                        - client_id
                        - grant_type
                        - client_secret
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessToken"
        "400":
          description: |
            BAD REQUEST

            <br />
            Note that there are two types of client_id for your app,
            * **Client Credentials Authorization client_id** that you use for `grant_type="client_credentials"`
            * **Authorization Code Flow client_id** that you use for `grant_type="authorization_code"` or `grant_type="refresh_token"`

            <br />

            ![client IDs](/assets/client_ids.png)

            <br />
            You get the following error when you are using the wrong client_id for the grant_type:

            ```json
            {
              "code": 400,
              "status": "Bad Request",
              "message": "The client is not authorized to request a token using this method."
            }
            ```

            Example response when you are using refresh token generated by client credentials:
            ```json
            {
              "code": 400,
              "status": "Bad Request",
              "message": "Client id must be the same from previous token"
            }
            ```

            You should not use refresh token when you can use client credentials.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                wrongClientId:
                  summary: Wrong client ID
                  value:
                    code: 400
                    status: Bad Request
                    message: The client is not authorized to request a token using this method.
                refreshTokenError:
                  summary: Refresh token error
                  value:
                    code: 400
                    status: Bad Request
                    message: Client id must be the same from previous token.
      security: []
      tags:
        - auth
      x-codeSamples:
        - lang: bash
          label: Auth code
          source: |-
            curl --location --request POST 'https://api.monerium.dev/auth/token' \
            --header 'Content-Type: application/x-www-form-urlencoded' \
            --data-urlencode 'grant_type=authorization_code' \
            --data-urlencode 'client_id=a08bfa22-e6d6-11ed-891c-2ea11c960b3f' \
            --data-urlencode 'code=BvTYQprmQzKt8YSn3xsTWQ' \
            --data-urlencode 'code_verifier=KO2yF8CUSxU8KJepixDmXdiCOFTMMZFLDmVjNd4J2VhbFUSSgU1lXl0aYyWYK8hIZIEH9bEBDeJ78CIuNoeOIcZOybzzqFlIGedtclJ7ZTKF6GmRBZ4fdMvg6OXnf2dl' \
            --data-urlencode 'redirect_uri=http://localhost:3000'
        - lang: bash
          label: Refresh token
          source: |-
            curl --location --request POST 'https://api.monerium.dev/auth/token' \
            --header 'Content-Type: application/x-www-form-urlencoded' \
            --data-urlencode 'grant_type=refresh_token' \
            --data-urlencode 'client_id=1337' \
            --data-urlencode 'refresh_token=ay5GEeN4Q8ywCgKykxZN6Q'
        - lang: bash
          label: Client credentials
          source: |-
            curl --location --request POST 'https://api.monerium.dev/auth/token' \
            --header 'Content-Type: application/x-www-form-urlencoded' \
            --data-urlencode 'grant_type=client_credentials' \
            --data-urlencode 'client_id=1b3a17ef-460f-47b0-84c6-4495e18589b3' \
            --data-urlencode 'client_secret=samplepassword'
  /webhooks:
    get:
      operationId: list-subscriptions
      summary: List subscriptions
      description: |
        List all webhook subscriptions for the authenticated user.
        The response includes the details of each subscription, such as the URL, secret, and event types.
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      $ref: "#/components/schemas/WebhookSubscription"
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      security:
        - BearerAuth: []
      tags:
        - webhooks
    post:
      operationId: create-subscription
      summary: Create subscription
      description: |
        Create webhook subscription to receive notifications like [profile update](#operation/webhook-profile-updated) on specified endpoint.
        [Subscription created](#operation/webhook-subscription-created) notification is sent during subscription creation to validate if receiver is able to handle further notifications.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
                - secret
              properties:
                url:
                  description: The URL where the notification will be sent.
                  type: string
                  example: "https://yourdomain.com/webhook"
                secret:
                  description: |
                    A secret key used to verify the authenticity of webhook notifications.
                    Each notification is sent with a webhook-signature header, which contains a minified JSON payload encrypted using the secret key via the HMAC-SHA256 scheme.
                    The secret key must be a base64-encoded, random value between 24 and 64 bytes, prefixed with `whsec_`.
                  type: string
                  example: whsec_mUt3nH+3wx/djdHf8RHn9yJMMiAhq10b
                types:
                  description: |
                    An array of event types that the webhook will subscribe to. If not specified, default events types are subscribed to.

                    Default event types:
                    - `iban.updated`
                    - `profile.updated`
                  type: array
                  items:
                    type: string
                    enum:
                      - iban.updated
                      - order.created
                      - order.updated
                      - profile.updated
                  example:
                    - iban.updated
                    - profile.updated
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSubscription"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      security:
        - BearerAuth: []
      tags:
        - webhooks
      x-codeSamples:
        - lang: bash
          label: CLI
          source: |-
            curl -X POST 'https://api.monerium.dev/webhooks' \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN" \
            -H "Content-Type: application/json" \
            --data-raw '{
              "url": "https://yourdomain.com/webhook",
              "secret": "YOUR_SECRET",
            }'
  /webhooks/{subscription}:
    patch:
      operationId: update-subscription
      summary: Update subscription
      description: |
        Update an existing webhook subscription to change the URL, secret, or event types.
        The updated subscription will be validated by sending a [subscription created](#operation/webhook-subscription-created) notification to the new URL.
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
        - name: subscription
          in: path
          description: The ID of the webhook subscription
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  description: |
                    The state of the webhook subscription. If set to `inactive`, the webhook will not send notifications.
                    If set to `active`, the webhook will send notifications as usual.
                  type: string
                  enum:
                    - active
                    - inactive
                  example: active
                types:
                  description: |
                    An array of event types that the webhook will subscribe to. If not specified, default events types are subscribed to.

                    Default event types:
                    - `iban.updated`
                    - `profile.updated`
                  type: array
                  items:
                    type: string
                    enum:
                      - iban.updated
                      - order.created
                      - order.updated
                      - profile.updated
                  example:
                    - iban.updated
                    - profile.updated
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSubscription"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found (subscription does not exist)
        "500":
          description: Internal Server Error
      security:
        - BearerAuth: []
      tags:
        - webhooks

  "/profiles/{profile}/details":
    put:
      operationId: submit-profile-details
      summary: Submit profile details
      description: |
        <span style="display: inline-block;padding: 2px 8px;margin: 0px;background-color: rgb(44, 108, 167);color: rgb(255, 255, 255);vertical-align: middle;line-height: 1.6;border-radius: 4px;font-weight: 600;font-size: 12px;">
          Requires extra privileges
        </span>

        Submit the required compliance information to onboard a customer.

        **For KYC Sharing Model:**
        Complete KYC data including details, [form](#operation/submit-profile-form) and [verifications](#operation/submit-profile-verifications) is required.

        **For KYC Reliance Model:**
        Only the details are required. Enhanced due diligence can be added as a [verification](#operation/submit-profile-verifications) when needed.

        **Note:**
        - Ensure all required details are included based on the profile kind ('personal' or 'corporate').
        - Once a profile is approved, you cannot change the profile kind.
        - Profile status notifications are available through [webhooks](#operation/webhook-profile-updated).
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
        - name: profile
          in: path
          description: The ID of the profile
          required: true
          schema:
            $ref: "#/components/schemas/UUID"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              oneOf:
                - title: Personal
                  properties:
                    personal:
                      description: Details for an individual
                      type: object
                      allOf:
                        - $ref: "#/components/schemas/PersonalDetails"
                        - type: object
                          properties:
                            idDocument:
                              $ref: "#/components/schemas/IdDocument"
                      required:
                        - idDocument
                - title: Corporate
                  properties:
                    corporate:
                      description: Details for a company
                      type: object
                      $ref: "#/components/schemas/CorporateDetails"
      responses:
        "202":
          description: |
            Accepted

            The applicant details have been received and will be processed by Monerium.
            The profile will get an outcome of either approved or rejected once processed.
          content:
            application/json:
              schema:
                type: object
        "400":
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: 400
                status: Bad Request
                message: Validation errors
                errors:
                  firstName: First name is missing
        "401":
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
        "403":
          description:
            $ref: "#/components/schemas/ForbiddenPartnerError/description"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenPartnerError"
        "409":
          description: |
            Conflict

            This error occurs when the profile details have already been approved and need not be submitted again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: The error code for conflict.
                    type: integer
                    format: int32
                    enum:
                      - 409
                  status:
                    description: The status for conflict.
                    type: string
                    enum:
                      - Conflict
                  message:
                    description: A short message about the error.
                    type: string
                    enum:
                      - The profile details have already been approved and need not be submitted again
      security:
        - BearerAuth: []
      tags:
        - profiles
      x-codeSamples:
        - lang: bash
          label: CLI
          source: |-
            curl -X PUT 'https://api.monerium.dev/profiles/30f730fd-e51f-11ed-9e13-cacb9390199c/details' \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN" \
            -H "Accept: application/vnd.monerium.api-v2+json" \
            --data-raw '{
              "personal": {
                "idDocument": {
                  "number": "A1234566788",
                  "kind": "passport"
                },
                "firstName": "Jane",
                "lastName": "Doe",
                "address": "Pennylane 123",
                "postalCode": "7890",
                "city": "Liverpool",
                "country": "FR",
                "countryState": "Merseyside",
                "nationality": "FR",
                "birthday": "1990-05-15"
              }
            }'
  "/profiles/{profile}/form":
    put:
      operationId: submit-profile-form
      summary: Submit profile form
      description: |
        <span style="display: inline-block;padding: 2px 8px;margin: 0px;background-color: rgb(44, 108, 167);color: rgb(255, 255, 255);vertical-align: middle;line-height: 1.6;border-radius: 4px;font-weight: 600;font-size: 12px;">
          Requires extra privileges
        </span>

        Submit the banking form for an individual or company.

        **For KYC Sharing Model:**
        Form is required.

        **For KYC Reliance Model:**
        Form is not required.

        **Note:**
        - Ensure all required details are included based on the profile kind ('personal' or 'corporate').
        - Once a profile is approved, you cannot change the profile kind.
        - Profile status notifications are available through [webhooks](#operation/webhook-profile-updated).
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
        - name: profile
          in: path
          description: The ID of the profile
          required: true
          schema:
            $ref: "#/components/schemas/UUID"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              oneOf:
                - title: Personal
                  properties:
                    personal:
                      description: Form for an individual
                      $ref: "#/components/schemas/PersonalForm"
                - title: Corporate
                  properties:
                    corporate:
                      description: Form for a company
                      $ref: "#/components/schemas/CorporateForm"
      responses:
        "202":
          description: |
            Accepted

            The applicant details have been received and will be processed by Monerium.
            The profile will get an outcome of either approved or rejected once processed.
          content:
            application/json:
              schema:
                type: object
        "400":
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: 400
                status: Bad Request
                message: Validation errors
                errors:
                  firstName: First name is missing
        "401":
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
        "403":
          description:
            $ref: "#/components/schemas/ForbiddenPartnerError/description"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenPartnerError"
        "409":
          description: |
            Conflict

            This error occurs when the profile details have already been approved and need not be submitted again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: The error code for conflict.
                    type: integer
                    format: int32
                    enum:
                      - 409
                  status:
                    description: The status for conflict.
                    type: string
                    enum:
                      - Conflict
                  message:
                    description: A short message about the error.
                    type: string
                    enum:
                      - The profile details have already been approved and need not be submitted again
      security:
        - BearerAuth: []
      tags:
        - profiles
      x-codeSamples:
        - lang: bash
          label: CLI
          source: |-
            curl -X PUT 'https://api.monerium.dev/profiles/30f730fd-e51f-11ed-9e13-cacb9390199c/details' \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN" \
            -H "Accept: application/vnd.monerium.api-v2+json" \
            --data-raw '{
              "personal": {
                "idDocument": {
                  "number": "A1234566788",
                  "kind": "passport"
                },
                "firstName": "Jane",
                "lastName": "Doe",
                "address": "Pennylane 123",
                "postalCode": "7890",
                "city": "Liverpool",
                "country": "FR",
                "countryState": "Merseyside",
                "nationality": "FR",
                "birthday": "1990-05-15"
              }
            }'
  "/profiles/{profile}/verifications":
    put:
      operationId: submit-profile-verifications
      summary: Submit profile verifications
      description: |
        <span style="display: inline-block;padding: 2px 8px;margin: 0px;background-color: rgb(44, 108, 167);color: rgb(255, 255, 255);vertical-align: middle;line-height: 1.6;border-radius: 4px;font-weight: 600;font-size: 12px;">
          Requires extra privileges
        </span>

        Submit verifications for an individual or company.

        **For KYC Sharing Model:**
        Verifications are required

        **For KYC Reliance Model:**
        Enhanced due diligence can be submitted as a verification (using `enhancedDueDiligence` kind).

        **Note:**
        - Ensure all required details are included based on the profile kind ('personal' or 'corporate').
        - Once a profile is approved, you cannot change the profile kind.
        - Profile status notifications are available through [webhooks](#operation/webhook-profile-updated).
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
        - name: profile
          in: path
          description: The ID of the profile
          required: true
          schema:
            $ref: "#/components/schemas/UUID"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              oneOf:
                - title: Personal
                  properties:
                    personal:
                      description: Verifications for an individual
                      $ref: "#/components/schemas/PersonalVerifications"
                - title: Corporate
                  properties:
                    corporate:
                      description: Verifications for a company
                      $ref: "#/components/schemas/CorporateVerifications"
      responses:
        "202":
          description: |
            Accepted

            The applicant details have been received and will be processed by Monerium.
            The profile will get an outcome of either approved or rejected once processed.
          content:
            application/json:
              schema:
                type: object
        "400":
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: 400
                status: Bad Request
                message: Validation errors
                errors:
                  firstName: First name is missing
        "401":
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
        "403":
          description:
            $ref: "#/components/schemas/ForbiddenPartnerError/description"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenPartnerError"
        "409":
          description: |
            Conflict

            This error occurs when the profile details have already been approved and need not be submitted again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: The error code for conflict.
                    type: integer
                    format: int32
                    enum:
                      - 409
                  status:
                    description: The status for conflict.
                    type: string
                    enum:
                      - Conflict
                  message:
                    description: A short message about the error.
                    type: string
                    enum:
                      - The profile details have already been approved and need not be submitted again
      security:
        - BearerAuth: []
      tags:
        - profiles
      x-codeSamples:
        - lang: bash
          label: CLI
          source: |-
            curl -X PUT 'https://api.monerium.dev/profiles/30f730fd-e51f-11ed-9e13-cacb9390199c/details' \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN" \
            -H "Accept: application/vnd.monerium.api-v2+json" \
            --data-raw '{
              "personal": {
                "idDocument": {
                  "number": "A1234566788",
                  "kind": "passport"
                },
                "firstName": "Jane",
                "lastName": "Doe",
                "address": "Pennylane 123",
                "postalCode": "7890",
                "city": "Liverpool",
                "country": "FR",
                "countryState": "Merseyside",
                "nationality": "FR",
                "birthday": "1990-05-15"
              }
            }'
  /profiles:
    get:
      operationId: profiles
      summary: Profiles
      description: Retrieves a list of all profiles that your application has access to.
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
        - name: state
          in: query
          description: Filter the list on the state of profiles
          required: false
          schema:
            $ref: "#/components/schemas/ProfileState"
        - name: kind
          in: query
          description: Filter the list on the kind of profiles
          required: false
          schema:
            $ref: "#/components/schemas/ProfileKind"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  profiles:
                    $ref: "#/components/schemas/Profiles"
        "401":
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
        "403":
          description: FORBIDDEN
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
      security:
        - BearerAuth: []
      tags:
        - profiles
      x-codeSamples:
        - lang: bash
          label: CLI
          source: |-
            curl https://api.monerium.dev/profiles?state=approved&kind=personal \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN" \
            -H "Accept: application/vnd.monerium.api-v2+json"
  "/profiles/{profile}":
    get:
      operationId: profile
      summary: Profile
      description: Retrieves details about a single profile.
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
        - name: profile
          in: path
          description: The ID of the profile
          required: true
          schema:
            $ref: "#/components/schemas/UUID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
        "401":
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
        "403":
          description: FORBIDDEN
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
      security:
        - BearerAuth: []
      tags:
        - profiles
      x-codeSamples:
        - lang: bash
          label: CLI
          source: |-
            curl https://api.monerium.dev/profiles/4f079ef8-6d26-11eb-9bc8-acde48001122 \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN" \
            -H "Accept: application/vnd.monerium.api-v2+json"
  /addresses:
    post:
      operationId: link-address
      summary: Link address
      description: |
        <span style="display: inline-block;padding: 2px 8px;margin: 0px;background-color: rgb(44, 108, 167);color: rgb(255, 255, 255);vertical-align: middle;line-height: 1.6;border-radius: 4px;font-weight: 600;font-size: 12px;">
          Requires extra privileges
        </span>

        A blockchain address, often called a public key or wallet address, is a unique identifier within a blockchain that serves as a destination for sending, receiving, or storing digital assets, such as the EURe onchain fiat token.

        The customer's address is linked to Monerium to request an IBAN for it and perform cross-chain transactions. Linking the address requires a signature to prove that the customer owns the address.

        **Externally Owned Accounts (EOAs)** can generate offchain 65 byte signatures with the user having control of the account via a private key managed by a software wallet like MetaMask or a hardware wallet like Ledger.

        **Smart Contract Accounts (SCAs) or Smart Accounts (SAs)**, are different from EOAs as they are smart contracts (code) immutably linked to the blockchain like the Safe wallet. Monerium supports [ERC-1271: Standard Signature Validation Method for Contracts](https://eips.ethereum.org/EIPS/eip-1271), which can be implemented in two ways.

        1. **Offchain**: The signatures are collected offchain and set in the "signature" field of the request. For multisig wallets, the signatures are concatenated in a 65 byte array.
        2. **Onchain**: The signatures are collected and validated onchain by the smart contract. The "signature" field in the request is set to "0x" and the Monerium infrastructure will verify the onchain with the connected SCA. The SCA emits an event `SignMsg(bytes32 indexed msgHash)` after signing that the Monerium infrastructure validates the signature and completes connecting the wallet.
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profile:
                  description: Profile ID that owns the address.
                  $ref: "#/components/schemas/UUID"
                address:
                  $ref: "#/components/schemas/Address"
                chain:
                  description: The blockchain network where the address is located. Note that allowed values differ between sandbox and production environments.
                  $ref: "#/components/schemas/Chain"
                message:
                  description: Fixed message to be signed with the private key corresponding to the given address. </br></br><strong><code>I hereby declare that I am the address owner.</code></strong>
                  type: string
                  example: I hereby declare that I am the address owner.
                signature:
                  oneOf:
                    - title: EOA address
                      $ref: "#/components/schemas/SignatureEOA"
                    - title: Safe onchain
                      $ref: "#/components/schemas/SignatureSafeOnchain"
                    - title: Safe offchain
                      $ref: "#/components/schemas/SignatureSafeOffchain"
              required:
                - address
                - message
                - chain
                - signature
      responses:
        "201":
          description: |
            **CREATED**

            Monerium was able to validate the signature and link the wallet.
          content:
            application/json:
              schema:
                type: object
        "202":
          description: |
            **ACCEPTED**

            The Monerium infrastructure will validate if the onchain signature has taken place and link the address.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 202
                  status:
                    type: string
                    example: Accepted
        "400":
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: 400
                status: Bad Request
                message: Validation errors
                errors:
                  address: Address missing
        "401":
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
        "403":
          description: FORBIDDEN
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
      security:
        - BearerAuth: []
      tags:
        - addresses
      x-codeSamples:
        - lang: bash
          label: CLI
          source: |-
            curl -X POST 'https://api.monerium.dev/addresses' \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN" \
            -H "Accept: application/vnd.monerium.api-v2+json" \
            --data-raw '{
              "profile": "a78d8ff2-e51f-11ed-9e13-cacb9390199c",
              "address": "0x59cFC408d310697f9D3598e1BE75B0157a072407",
              "chain": "gnosis",
              "message": "I hereby declare that I am the address owner.",
              "signature": "0x5rc0b4cb4efbb577cb0c19d1cb23c7cc4912d2138b3267ee4799c88a68e203a5d568bec12f5da2b3a416f9bb03257b472a1605bf489bcdb805c2c029c212d3a5120505f52546da16217f630339cd332d6049f11cf15a1a82939663a58b02d129c40607c0c290ace726c89c35228b6485f5d3796d6c10df5b8a0de196092797bfe7e1f"
            }'
        - lang: JS
          label: JS
          source: |-
            /**
            * This script demonstrates how to add addresses to a Monerium profile
            * and create signatures for EOA, Safe onchain transactions, and Safe offchain messages.
            *
            * Prerequisites:
            * 1. Install Node.js from https://nodejs.org/ (if not already installed).
            * 2. Create a folder for this project and navigate to it in your terminal.
            * 3. Create a file called `reqNewAddressV2.js` and paste this script into it.
            * 4. Install the required npm packages by running:
            *    npm install dotenv @monerium/sdk ethers @safe-global/protocol-kit @safe-global/safe-core-sdk-types @safe-global/api-kit axios
            * 5. Create a `.env` file in your project directory and add your environment variables:
            *    SAFE_ADDRESS=your_safe_address
            *    PRIVATE_KEY=your_private_key
            *    PRIVATE_KEY_2=your_second_private_key (if using Safe)
            *    INFURA_PROJECT_ID=your_infura_project_id
            *    ACCESS_TOKEN=your_access_token
            *    PROFILE_ID=profile_that_owns_the_address
            *    CLIENT_ID=your_client_id
            *    CLIENT_SECRET=your_client_secret
            * 6. Run the script using:
            *    node reqNewAddressV2.js [eoa|safe-onchain|safe-offchain]
            *
            * Note: Replace the placeholder values in the `.env` file with your actual values.
            * Tips
            *  Create a Safe on Sepolia and a Punk wallet (https://punkwallet.io/)
            *  Make the punk wallet a owner of the safe and use that private key
            */

            require("dotenv").config();
            const { MoneriumClient } = require("@monerium/sdk");
            const { ethers } = require('ethers');
            const Safe = require("@safe-global/protocol-kit");
            const SafeApi = require("@safe-global/api-kit").default;
            const { OperationType } = require("@safe-global/safe-core-sdk-types");
            const axios = require("axios");

            // Retrieve environment variables
            const clientId = process.env.CLIENT_ID;
            const clientSecret = process.env.CLIENT_SECRET;
            const profileId = process.env.PROFILE_ID;
            const safeAddress = process.env.SAFE_ADDRESS;
            const privateKey = process.env.PRIVATE_KEY;
            const privateKey2 = process.env.PRIVATE_KEY_2;
            const infuraProjectId = process.env.INFURA_PROJECT_ID;
            const message = "I hereby declare that I am the address owner.";

            // Using the Monerium SDK to handle the requests.
            // https://www.npmjs.com/package/@monerium/sdk
            const monerium = new MoneriumClient({
              environment: "sandbox",
              clientId,
              clientSecret,
            });

            // Get the wallet type from command line arguments
            const walletType = process.argv[2];

            /**
            * The main function that handles the address linking process.
            * Depending on the wallet type, it will create the appropriate signature and link the address to the profile.
            */
            const request = async () => {
              let signature, address;

              switch (walletType) {
                case "eoa":
                  address = process.env.EOA_ADDRESS;
                  signature = await signEOA(message);
                  break;
                case "safe-onchain":
                  address = process.env.SAFE_ADDRESS;
                  signature = await signOnchain(message);
                  break;
                case "safe-offchain":
                  address = process.env.SAFE_ADDRESS;
                  signature = await signOffchain(message);
                  break;
                default:
                  if (!walletType) {
                    console.error(
                      "Wallet type parameter missing. Please use 'eoa','safe-onchain', or 'safe-offchain'. Example: node reqNewAddressV2.js eoa"
                    );
                    return;
                  }
                  console.error(
                    `Unsupported wallet type ${walletType}. Please use 'eoa','safe-onchain', or 'safe-offchain'.`
                  );
                  return;
              }

              if (!signature) {
                console.error("Signature is missing");
                return;
              }

              // get access to Monerium API using client credentials
              await monerium.getAccess();

              // Define the request payload
              const data = {
                profile: profileId,
                message,
                address,
                signature,
                chain: "ethereum",
              };

              console.log("linking wallet", data);

              // Perform the POST request using axios
              axios
                .post('https://api.monerium.dev/addresses', data, {
                  headers: {
                    Authorization: `Bearer ${monerium.bearerProfile.access_token}`,
                    "Accept": "application/vnd.monerium.api-v2+json",
                    "Content-Type": "application/json",
                  },
                })
                .then((response) => {
                  console.log("Monerium Response:", response.data);
                })
                .catch((error) => {
                    console.error('Error:', error.response ? error.response.data : error.message);
                });
            };


            // Function to sign a message using an EOA (Externally Owned Account)
            const signEOA = async (message) => {
              const wallet = new ethers.Wallet(privateKey);
              return await wallet.signMessage(message);
            };

            // Function to sign a message using Safe onchain transactions for a wallet with two owners.
            const signOnchain = async () => {
              // Initialize Safe SDK with provider, signer, and safe address
              let kit = await Safe.default.init({
                provider: `https://sepolia.infura.io/v3/${infuraProjectId}`,
                signer: privateKey,
                safeAddress,
              });

              // Generate the hash of the message to be signed
              const hash = Safe.hashSafeMessage(message);

              // Get the SignMessageLib contract for the Safe version
              const contract = await Safe.getSignMessageLibContract({
                safeProvider: kit.getSafeProvider(),
                safeVersion: "1.3.0",
              });

              // Encode the transaction data to sign the message
              const txData = contract.encode("signMessage", [hash]);

              // Prepare the transaction payload
              const payload = {
                to: await contract.getAddress(),
                value: "0",
                data: txData,
                operation: OperationType.DelegateCall,
              };

              // Create the transaction
              let tx = await kit.createTransaction({
                transactions: [payload],
              });

              // // Sign the transaction with OWNER_1_ADDRESS
              // // After this, the transaction contains the signature from OWNER_1_ADDRESS
              tx = await kit.signTransaction(tx, Safe.SigningMethod.ETH_SIGN);

              // // Connect OWNER_2_ADDRESS
              kit = await Safe.default.init({
                provider: `https://sepolia.infura.io/v3/${infuraProjectId}`,
                signer: privateKey2,
                safeAddress,
              });

              // // Sign the transaction with OWNER_2_ADDRESS
              // // After this, the transaction contains the signature from OWNER_1_ADDRESS and OWNER_2_ADDRESS
              tx = await kit.signTransaction(tx, Safe.SigningMethod.ETH_SIGN);

              // Execute the transaction and log the response
              const response = await kit.executeTransaction(tx);
              console.log("signature response:", response);
              return "0x";
            };

            // Function to sign a message using Safe offchain messages for a wallet with two owners.
            const signOffchain = async (message) => {
              // Initialize Safe SDK with provider, signer, and safe address
              let kit = await Safe.default.init({
                provider: `https://sepolia.infura.io/v3/${infuraProjectId}`,
                signer: privateKey,
                safeAddress,
              });

              // Create a new message object
              let msgSafe = kit.createMessage(message);

              // Sign the message with OWNER 1
              msgSafe = await kit.signMessage(
                msgSafe,
                Safe.SigningMethod.ETH_SIGN,
                safeAddress
              );

              // Sign with OWNER 2
              kit = await Safe.default.init({
                provider: `https://sepolia.infura.io/v3/${infuraProjectId}`,
                signer: privateKey2,
                safeAddress,
              });

              msgSafe = await kit.signMessage(
                msgSafe,
                Safe.SigningMethod.ETH_SIGN,
                safeAddress
              );

              // get the signature for OWNER 1
              const signature = Array.from(msgSafe.signatures.values())[0];

              // Instantiate the API Kit
              // Use the chainId where you have the Safe account deployed
              const apiKit = new SafeApi({ chainId: 11155111 });

              // Propose the message
              try {
                await apiKit.addMessage(safeAddress, {
                  message,
                  signature: Safe.buildSignatureBytes([signature]),
                });
              } catch (error) {
                const regex = /already exists/;

                if (!error || !regex.test(error.message)) {
                  console.error("Error:", error.message);
                  return;
                } else {
                  console.log(error.message);
                  console.log("Signature 1 has already been added, continuing...");
                }
              }

              // Get the signature from OWNER_2_ADDRESS
              const signatureOwner2 = Array.from(msgSafe.signatures.values())[1];

              const safeMessageHash = await kit.getSafeMessageHash(
                Safe.hashSafeMessage(message)
              );

              // Add signature from OWNER_2_ADDRESS
              try {
                await apiKit.addMessageSignature(
                  safeMessageHash,
                  Safe.buildSignatureBytes([signatureOwner2])
                );
              } catch (error) {
                const regex = /already exists/;

                if (!error || !regex.test(error.message)) {
                  console.error("Error:", error.message);
                  return;
                } else {
                  console.log(error.message);
                  console.log("Signature 2 has already been added, continuing...");
                }
              }

              // Get the message and confirmation status
              const status = await apiKit.getMessage(safeMessageHash);
              if (status?.preparedSignature) {
                return status.preparedSignature;
              }
              return;
            };

            request();
    get:
      operationId: addresses
      summary: Addresses
      description: List of addresses that have been connected. You can filter the addresses by the chain they are connected to.
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
        - name: profile
          in: query
          description: Return addresses for a given profile ID. By default the caller profile ID is used.
          required: false
          schema:
            $ref: "#/components/schemas/UUID"
        - name: chain
          in: query
          description: Filter the list on the chain
          required: false
          schema:
            $ref: "#/components/schemas/Chain"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  addresses:
                    type: array
                    items:
                      $ref: "#/components/schemas/AddressObject"
        "401":
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
        "403":
          description: FORBIDDEN
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
      security:
        - BearerAuth: []
      tags:
        - addresses
      x-codeSamples:
        - lang: bash
          label: CLI
          source: |-
            curl https://api.monerium.dev/addresses?profile=a78d8ff2-e51f-11ed-9e13-cacb9390199c&chain=ethereum \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN" \
            -H "Accept: application/vnd.monerium.api-v2+json"
  "/addresses/{address}":
    get:
      operationId: address
      summary: Address
      description: Get details for a single address by using the address public key after the address has been successfully linked to Monerium.
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
        - name: address
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Address"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressObject"
        "401":
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
        "403":
          description: FORBIDDEN
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
      security:
        - BearerAuth: []
      tags:
        - addresses
      x-codeSamples:
        - lang: bash
          label: CLI
          source: |-
            curl https://api.monerium.dev/addresses/0x59cFC408d310697f9D3598e1BE75B0157a072407 \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN" \
            -H "Accept: application/vnd.monerium.api-v2+json"
  "/balances/{chain}/{address}":
    get:
      operationId: balances
      summary: Balances
      description: Retrieves the balance for an address on a given chain.
      parameters:
        - name: address
          in: path
          description: Address
          required: true
          schema:
            $ref: "#/components/schemas/Address"
        - name: chain
          in: path
          description: Chain name
          required: true
          schema:
            $ref: "#/components/schemas/Chain"
        - name: currency
          in: query
          description: Currency to return the balance for. If not provided `eur` is used. Can be used multiple times to get multiple currencies.
          required: false
          schema:
            $ref: "#/components/schemas/Currency"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Balances"
        "401":
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
        "403":
          description: FORBIDDEN
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
      security:
        - BearerAuth: []
      tags:
        - addresses
      x-codeSamples:
        - lang: bash
          label: curl
          source: |-
            curl https://api.monerium.dev/balances/ethereum/0x59cFC408d310697f9D3598e1BE75B0157a072407 \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN"
  /ibans:
    post:
      operationId: request-iban
      summary: Request IBAN
      description: |
        <span style="display: inline-block;padding: 2px 8px;margin: 0px;background-color: rgb(44, 108, 167);color: rgb(255, 255, 255);vertical-align: middle;line-height: 1.6;border-radius: 4px;font-weight: 600;font-size: 12px;">
          Requires extra privileges
        </span>

        Create an IBAN for a specified address and chain. All incoming EUR payments will automatically be routed to the linked address on that chain. Any linked address can use this IBAN for outgoing payments.
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  $ref: "#/components/schemas/Address"
                chain:
                  $ref: "#/components/schemas/Chain"
              required:
                - address
                - chain
      responses:
        "202":
          description: |
            **ACCEPTED**

            The Monerium infrastructure will provision the IBAN and connect it to the address. This process can take a few seconds.
          content:
            application/json:
              schema:
                type: object
        "304":
          description: |
            **Not modified**

            An IBAN already exists for the profile. Your application can [move the existing IBAN to the address](#operation/move-iban).
          content:
            application/json:
              schema:
                type: object
        "400":
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: 400
                status: Bad Request
                message: Validation errors
                errors:
                  iban: Address missing
        "401":
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
        "403":
          description: FORBIDDEN
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
      security:
        - BearerAuth: []
      tags:
        - ibans
      x-codeSamples:
        - lang: bash
          label: CLI
          source: |-
            curl -X POST 'https://api.monerium.dev/ibans' \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN" \
            -H "Accept: application/vnd.monerium.api-v2+json" \
            --data-raw '{
              "address": "0x59cFC408d310697f9D3598e1BE75B0157a072407",
              "chain": "gnosis"
            }'
    get:
      operationId: ibans
      summary: IBANs
      description: "List of IBANs that have been created. You can filter by the address, or the chain they are connected to."
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
        - name: profile
          in: query
          description: Return the list for the profile ID. By default the caller profile is used.
          required: false
          schema:
            $ref: "#/components/schemas/UUID"
        - name: chain
          in: query
          description: Filter the list on the chain
          required: false
          schema:
            $ref: "#/components/schemas/Chain"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ibans:
                    type: array
                    items:
                      $ref: "#/components/schemas/IBANObject"
        "401":
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
        "403":
          description: FORBIDDEN
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
      security:
        - BearerAuth: []
      tags:
        - ibans
      x-codeSamples:
        - lang: bash
          label: CLI
          source: |-
            curl https://api.monerium.dev/ibans?profile=a78d8ff2-e51f-11ed-9e13-cacb9390199 \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN" \
            -H "Accept: application/vnd.monerium.api-v2+json"
  "/ibans/{iban}":
    get:
      operationId: iban
      summary: IBAN
      description: Get details for a single IBAN.
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
        - name: iban
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/IBAN"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IBANObject"
        "401":
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
        "403":
          description: FORBIDDEN
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
      security:
        - BearerAuth: []
      tags:
        - ibans
      x-codeSamples:
        - lang: bash
          label: CLI
          source: |-
            curl https://api.monerium.dev/ibans/EE73I9684012278810458214196 \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN" \
            -H "Accept: application/vnd.monerium.api-v2+json"
    patch:
      operationId: move-iban
      summary: Move IBAN
      description: |
        <span style="display: inline-block;padding: 2px 8px;margin: 0px;background-color: rgb(44, 108, 167);color: rgb(255, 255, 255);vertical-align: middle;line-height: 1.6;border-radius: 4px;font-weight: 600;font-size: 12px;">
          Requires extra privileges
        </span>

        Move an existing IBAN to a specified address an chain. All incoming EUR payments will automatically be routed to the address on that chain.
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
        - name: iban
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/IBAN"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  $ref: "#/components/schemas/Address"
                chain:
                  $ref: "#/components/schemas/Chain"
              required:
                - address
                - chain
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
        "400":
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: 400
                status: Bad Request
                message: Validation errors
                errors:
                  iban: Address missing
        "401":
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
        "403":
          description: FORBIDDEN
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
      security:
        - BearerAuth: []
      tags:
        - ibans
      x-codeSamples:
        - lang: bash
          label: CLI
          source: |-
            curl -X PATCH 'https://api.monerium.dev/ibans/EE73I9684012278810458214196' \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN" \
            -H "Accept: application/vnd.monerium.api-v2+json" \
            --data-raw '{
              "address": "0x59cFC408d310697f9D3598e1BE75B0157a072407",
              "chain": "gnosis"
            }'
  /orders:
    post:
      operationId: post-orders
      summary: Place order
      description: |
        An order represents an instruction to transfer funds from one account to another.
        The transfer can occur within the blockchain ecosystem (cross-chain) or from a blockchain account to a traditional bank account via SEPA.

        An order requires a signature from the wallet owner to authorize the processing of the order.
        The wallet owner signs a specific message to prove ownership and consent for the transaction.

        Attaching a supporting document for amounts above 15,000 EUR is required. Supporting document can be an invoice or an agreement.
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewOrder"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "202":
          description: |
            **ACCEPTED**

            The order has been accepted and is pending signature confirmation for multi-signature wallets.
            The Monerium infrastructure will verify the onchain signature and process the order once confirmed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 202
                  status:
                    type: string
                    example: Accepted
        "401":
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
        "403":
          description: FORBIDDEN
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
      externalDocs:
        description: Read more about how to upload a file.
        url: /api#tag/files/operation/upload-file
      security:
        - BearerAuth: []
      tags:
        - orders
      x-codeSamples:
        - lang: bash
          label: CLI
          source: |-
            curl -X POST 'https://api.monerium.dev/orders' \
            -H "Authorization: Bearer YOUR_ACCESS_TOKEN" \
            --data-raw '{
              "address": "0x5731Ffc2747A25a8132A5d11768F95941Ae9c6ee",
              "currency": "eur",
              "chain": "ethereum",
              "kind": "redeem",
              "amount": "4",
              "counterpart": {
                "identifier": { "standard": "iban", "iban": "EE521273842688571285" },
                "details": {
                  "firstName": "Satoshi",
                  "lastName": "Nakamoto",
                  "country": "FR"
                }
              },
              "message": "Send EUR 4 to EE52...1285 at 2024-06-07T18:25:19.948Z",
              "signature": "0x5rc0b4cb4efbb577cb0c19d1cb23c7cc4912d2138b3267ee4799c88a68e203a5d568bec12f5da2b3a416f9bb03257b472a1605bf489bcdb805c2c029c212d3a5120505f52546da16217f630339cd332d6049f11cf15a1a82939663a58b02d129c40607c0c290ace726c89c35228b6485f5d3796d6c10df5b8a0de196092797bfe7e1f",
              "memo": "Powered by Monerium"
            }'
        - lang: JS
          label: JS
          source: |-
            /**
            * This script demonstrates how to place an order with Monerium API
            * and create signatures for EOA, Safe onchain transactions, and Safe offchain messages.
            *
            * Prerequisites:
            * 1. Install Node.js from https://nodejs.org/ (if not already installed).
            * 2. Create a folder for this project and navigate to it in your terminal.
            * 3. Create a file called `reqNewAddress.js` and paste this script into it.
            * 4. Install the required npm packages by running:
            *    npm install dotenv @monerium/sdk ethers @safe-global/protocol-kit @safe-global/safe-core-sdk-types @safe-global/api-kit
            * 5. Create a `.env` file in your project directory and add your environment variables:
            *    SAFE_ADDRESS=your_safe_address
            *    PRIVATE_KEY=your_private_key
            *    PRIVATE_KEY_2=your_second_private_key (if using Safe)
            *    INFURA_PROJECT_ID=your_infura_project_id
            *    ACCESS_TOKEN=your_access_token
            *    PROFILE_ID=profile_that_owns_the_address
            *    CLIENT_ID=your_client_id
            *    CLIENT_SECRET=your_client_secret
            * 6. Run the script using:
            *    node reqNewAddress.js [eoa|safe-onchain|safe-offchain]
            *
            * Note: Replace the placeholder values in the `.env` file with your actual values.
            * Tips
            *  Create a Safe on Sepolia and a Punk wallet (https://punkwallet.io/)
            *  Make the punk wallet a owner of the safe and use that private key
            */

            require("dotenv").config();
            const { MoneriumClient } = require("@monerium/sdk");
            const { ethers } = require('ethers');
            const Safe = require("@safe-global/protocol-kit");
            const SafeApi = require("@safe-global/api-kit").default;
            const { OperationType } = require("@safe-global/safe-core-sdk-types");

            // Retrieve environment variables
            const safeAddress = process.env.SAFE_ADDRESS;
            const privateKey = process.env.PRIVATE_KEY;
            const privateKey2 = process.env.PRIVATE_KEY_2;
            const infuraProjectId = process.env.INFURA_PROJECT_ID;

            function getRFC3339Time() {
              const now = new Date();
              const future = new Date(now.getTime() + 10 * 60000); // Add 10 minutes
              return future.toISOString();
            }
            // order data
            const amount = "4";
            const iban = "EE521273842688571285";
            const message = `Send EUR ${amount} to ${iban} at ${getRFC3339Time()}`;

            // Using the Monerium SDK to handle the requests.
            // https://www.npmjs.com/package/@monerium/sdk
            const monerium = new MoneriumClient({
              environment: "sandbox",
              clientId,
              clientSecret,
            });

            // Get the wallet type from command line arguments
            const walletType = process.argv[2];

            const request = async () => {
              let signature, address;

              switch (walletType) {
                case "eoa":
                  address = process.env.EOA_ADDRESS;
                  signature = await signEOA(message);
                  break;
                case "safe-onchain":
                  address = process.env.SAFE_ADDRESS;
                  signature = await signOnchain(message);
                  break;
                case "safe-offchain":
                  address = process.env.SAFE_ADDRESS;
                  signature = await signOffchain(message);
                  break;
                default:
                  if (!walletType) {
                    console.error(
                      "Wallet type parameter missing. Please use 'eoa','safe-onchain', or 'safe-offchain'. Example: node reqNewAddress.js eoa"
                    );
                    return;
                  }
                  console.error(
                    `Unsupported wallet type ${walletType}. Please use 'eoa','safe-onchain', or 'safe-offchain'.`
                  );
                  return;
              }

              if (!signature) {
                console.error("Signature is missing");
                return;
              }

              // get access to Monerium API using client credentials
              await monerium.getAccess();

              // Define the request payload
              const data = {
                address,
                currency: "eur",
                chain: "ethereum",
                kind: "redeem",
                amount,
                counterpart: {
                  identifier: {
                    standard: "iban",
                    iban,
                  },
                  details: {
                    firstName: "Satoshi",
                    lastName: "Nakamoto",
                    country: "FR",
                  },
                },
                message,
                signature,
                memo: "uuu jeeeeee",
              };

              console.log("creating order", data);

              try {
                const response = await monerium.placeOrder(data, profileId);
                console.log("success", response);
              } catch (error) {
                console.error(error);
                return;
              }
            };

            // Function to sign a message using an EOA (Externally Owned Account)
            const signEOA = async (message) => {
              const wallet = new ethers.Wallet(privateKey);
              return await wallet.signMessage(message);
            };

            // Function to sign a message using Safe onchain transactions for a wallet with two owners.
            const signOnchain = async () => {
              // Initialize Safe SDK with provider, signer, and safe address
              let kit = await Safe.default.init({
                provider: `https://sepolia.infura.io/v3/${infuraProjectId}`,
                signer: privateKey,
                safeAddress,
              });

              // Generate the hash of the message to be signed
              const hash = Safe.hashSafeMessage(message);

              // Get the SignMessageLib contract for the Safe version
              const contract = await Safe.getSignMessageLibContract({
                safeProvider: kit.getSafeProvider(),
                safeVersion: "1.3.0",
              });

              // Encode the transaction data to sign the message
              const txData = contract.encode("signMessage", [hash]);

              // Prepare the transaction payload
              const payload = {
                to: await contract.getAddress(),
                value: "0",
                data: txData,
                operation: OperationType.DelegateCall,
              };

              // Create the transaction
              let tx = await kit.createTransaction({
                transactions: [payload],
              });

              // // Sign the transaction with OWNER_1_ADDRESS
              // // After this, the transaction contains the signature from OWNER_1_ADDRESS
              tx = await kit.signTransaction(tx, Safe.SigningMethod.ETH_SIGN);

              // // Connect OWNER_2_ADDRESS
              kit = await Safe.default.init({
                provider: `https://sepolia.infura.io/v3/${infuraProjectId}`,
                signer: privateKey2,
                safeAddress,
              });

              // // Sign the transaction with OWNER_2_ADDRESS
              // // After this, the transaction contains the signature from OWNER_1_ADDRESS and OWNER_2_ADDRESS
              tx = await kit.signTransaction(tx, Safe.SigningMethod.ETH_SIGN);

              // Execute the transaction and log the response
              const response = await kit.executeTransaction(tx);
              console.log("signature response:", response);
              return "0x";
            };

            // Function to sign a message using Safe offchain messages for a wallet with two owners.
            const signOffchain = async (message) => {
              // Initialize Safe SDK with provider, signer, and safe address
              let kit = await Safe.default.init({
                provider: `https://sepolia.infura.io/v3/${infuraProjectId}`,
                signer: privateKey,
                safeAddress,
              });

              // Create a new message object
              let msgSafe = kit.createMessage(message);

              // Sign the message with OWNER 1
              msgSafe = await kit.signMessage(
                msgSafe,
                Safe.SigningMethod.ETH_SIGN,
                safeAddress
              );

              // Sign with OWNER 2
              kit = await Safe.default.init({
                provider: `https://sepolia.infura.io/v3/${infuraProjectId}`,
                signer: privateKey2,
                safeAddress,
              });

              msgSafe = await kit.signMessage(
                msgSafe,
                Safe.SigningMethod.ETH_SIGN,
                safeAddress
              );

              // get the signature for OWNER 1
              const signature = Array.from(msgSafe.signatures.values())[0];

              // Instantiate the API Kit
              // Use the chainId where you have the Safe account deployed
              const apiKit = new SafeApi({ chainId: 11155111 });

              // Propose the message
              try {
                await apiKit.addMessage(safeAddress, {
                  message,
                  signature: Safe.buildSignatureBytes([signature]),
                });
              } catch (error) {
                const regex = /already exists/;

                if (!error || !regex.test(error.message)) {
                  console.error("Error:", error.message);
                  return;
                } else {
                  console.log(error.message);
                  console.log("Signature 1 has already been added, continuing...");
                }
              }

              // Get the signature from OWNER_2_ADDRESS
              const signatureOwner2 = Array.from(msgSafe.signatures.values())[1];

              const safeMessageHash = await kit.getSafeMessageHash(
                Safe.hashSafeMessage(message)
              );

              // Add signature from OWNER_2_ADDRESS
              try {
                await apiKit.addMessageSignature(
                  safeMessageHash,
                  Safe.buildSignatureBytes([signatureOwner2])
                );
              } catch (error) {
                const regex = /already exists/;

                if (!error || !regex.test(error.message)) {
                  console.error("Error:", error.message);
                  return;
                } else {
                  console.log(error.message);
                  console.log("Signature 2 has already been added, continuing...");
                }
              }

              // Get the message and confirmation status
              const status = await apiKit.getMessage(safeMessageHash);
              if (status?.preparedSignature) {
                return status.preparedSignature;
              }
              return;
            };

            request();
    get:
      operationId: orders
      summary: Orders
      description: |
        Retrieves all orders for the caller profile.
        Query parameters can be used to filter and sort the result.
      parameters:
        - $ref: "#/components/parameters/AcceptHeaderV2"
        - name: address
          in: query
          description: Get all orders belonging to a specific blockchain address.
          schema:
[...]
