.guides {
    margin-top: 2rem;
    background: #f8f8f8;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    color: black;
  
    h6 {
      margin-bottom: 15px;
      font-size: 0.75rem;
    }
  
    ul {
      margin: 0;
      padding-left: 10px;
      font-size: 0.75rem;
    }
  
    li {
      margin: 0;
  }
}
