# Whitelabel Monerium application credentials from sandbox.monerium.dev
MONERIUM_CLIENT_ID=4afc82c1-b036-11f1-8d33-623443cee3c3
MONERIUM_CLIENT_SECRET=0967809adfc89667903aee845cba8a77fb8591a7b2cdf274650970bf836daded

# Public Reown project ID from dashboard.reown.com
VITE_REOWN_PROJECT_ID=3d34befa1646f4c471894dc7eaf41137
