.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 4rem;

    :global(.MuiButton-root) {
        margin: 16px;
        border-radius: 50px;
        text-wrap: nowrap;
    }
}

.topwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;


}